/* jrg-lookup */
.jrg-lookup-content-scroll {
  overflow: auto;
  height: 300px;
}
.jrg-lookup-input-div {
  position: relative;
}
.jrg-lookup-input-x {
  position: absolute;
  right: 10px;
  top: 8px;
  padding: 0px 5px;
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  line-height: 20px;
  color: white;
  background-color: #969696;
  cursor: pointer;
}
